<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Growing up together-Cùng nhau lớn</title>
    <link rel="stylesheet" href="{{{header}}}">
    <link rel="stylesheet" href="{{{mainStyle}}}">
  </head>
  <body>

    {{> header}}

    {{{body}}}


  </body>

  <script src="{{{function}}}"></script>
</html>