<div class="header-container">
  <div class="title-container">
    <div>
      <p><a href="http://localhost:5500/support-knowledge">Hỗ trợ kiến thức</a></p>
    </div>
    <div>
      <p><a href="http://localhost:5500/relaxation">Thư giãn</a></p>
    </div>
    <div>
      <p><a href="http://localhost:5500/develop-yourself">Phát triển bản thân</a></p>
    </div>
    <div>
      <p><a href="http://localhost:5500/experiences">Bài học kinh nghiệm</a></p>
    </div>
  </div>
</div>