.header-container {
  width: 100vw;
  background-color: #24252a;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title-container {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.title-container > div {
  background-color: transparent;
  color: #bcbdc2;
  padding: 10px;
  cursor: pointer;
}

.title-container > div > p > a {
  color: #bcbdc2;
  cursor: pointer;
  text-decoration: none;
}

.title-container > div:hover {
  background-color: #0486aa;
  border-radius: 50px;
  color: #ffffff;
}

.title-container > div:hover p a {
  color: #ffffff;
}
